<div class="container">
    <h2>About Bridges, Inc</h2>
    <p>
    We have been selling bridges for more than 100 years. 
    We are a family-run business with an army of commited realtors 
    who know their bridges.</p> 
    <p>Originally called Teapot Dome, Inc. we started out leasing public land and empty plots 
    to energy companies back in the 1920s, but that got too complicated and messy, so we now just focus on bridges.
    </p>
    <h2>Meet our new CEO</h2>
    <p><img src="images/chris.jpg">
    Earlier this year, we were most fortunate to have Chris Christie join our staff.
    Mr. Christie comes with intrinsic knowledge of bridges and bridge deals. </p>
    
    <p>Having previously worked in public service, Mr. Christie understands the complexity
    of govenmental infrastructure and the important role that bridges serve in day-to-day operations. 
    The relationships that he has established over the years as a government official should be 
    beneficial to the growth of our company.
    </p>
</div>

