
<div class="container">
    <h2>Deals of the day</h2>

    <p> We have lots of bridges to sell you. </p>

    <% 
        deals = [
            {name: "Broklyn bridge, NYC", img: "broklyn.jpg", price: 1452000},
            {name: "Covered bridge in Wakefield, Quebec", img: "wakefield.jpg", price: 345000},
            {name: "London Bridge", img: "london.jpg", price: 3462000},
            {name: "Golden Gate Bridge, San Francisco", img: "golden_gate.jpg", price: 2005000}
            
            ]
        
        
    %>
    <% deals.each do |deal| %>
    <h3 class="deals">
        <div><%= deal[:name] %></div> 
        <div>$ <%= deal[:price] %></div>
    </h3>
        <img class="deal-img" src="images/<%= deal[:img] %>">           
    
    <% end %>
</div>


